<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss.SSS}}{cyan} %highlight{%5level}{FATAL=bg_red,
            ERROR=red, INFO=green, DEBUG=blue, WARN=yellow} [%14t] %style{%C:%L}{cyan} : %m%n
        </Property>
        <Property name="defaultPattern">[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() -
            %msg%n%throwable{short.lineNumber}
        </Property>
        <Property name="logStashPattern">%msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>